<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Добавить автомобиль</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>

    <meta name="ctx" th:content="${#httpServletRequest.getContextPath()}"/>
</head>

<html>

<body>

<div th:replace="~{navigation :: navi(AddAuto)}"/>
<div class="container">
    <form th:action="@{/auto/add}" th:object="${auto}" method="post">
        <div class="form-group">
            <label for="autoTrademark">Марка автомобиля</label>
            <input type="text" th:field="*{trademark.title_trademark}" class="form-control" id="autoTrademark"
                   placeholder="Введите марку автомобиля">
        </div>
        <div class="form-group">
            <label for="autoModel">Модель автомобиля</label>
            <input th:field="*{model.title_model}" type="text" class="form-control" id="autoModel"
                   placeholder="Введите модель автомобиля">
        </div>
        <div class="form-group">
            <label for="autoTypeVagon">Тип кузова</label>
            <input th:field="*{typeVagon.title_type_vagon}" type="text" class="form-control" id="autoTypeVagon"
                   placeholder="Введите тип кузова">
        </div>
        <div class="form-group">
            <label for="autoYear_produce">Год выпуска</label>
            <input th:field="*{year_produce}" type="text" class="form-control" id="autoYear_produce"
                   placeholder="Введите год выпуска">
        </div>
        <div class="form-group">
            <label for="autoMileage">Пробег</label>
            <input th:field="*{mileage}" type="text" class="form-control" id="autoMileage"
                   placeholder="Введите пробег">
        </div>
        <div class="form-group">
            <label for="autoEngine_capacity">Объем двигателя</label>
            <input th:field="*{engine_capacity}" type="text" class="form-control" id="autoEngine_capacity"
                   placeholder="Введите объем двигателя">
        </div>
        <div class="form-group">
            <label for="autoEngine_power">Мощность</label>
            <input th:field="*{engine_power}" type="text" class="form-control" id="autoEngine_power"
                   placeholder="Введите мощность">
        </div>
        <div class="form-group">
            <label for="autoCity">Город</label>
            <input list="cityList" type="text" class="form-control" id="autoCity" placeholder="Введите город">
            <datalist id="cityList">
                <select th:field="*{city.title_city}">
                    <option th:each="city : ${cityList}"
                            th:text="${city.title_city}"
                            th:value="${city.title_city}">
                </select>
            </datalist>


        </div>
        <div class="form-group">
            <label for="autoPrice">Цена</label>
            <input th:field="*{price}" type="text" class="form-control" id="autoPrice"
                   placeholder="Введите цену">
        </div>
        <div class="form-group">
            <label for="autoFeatures">Дополнительная информация</label>
            <input th:field="*{features}" type="text" class="form-control" id="autoFeatures"
                   placeholder="Дополнительная информация">
        </div>
        <button type="submit" class="btn btn-primary">Сохранить</button>
    </form>
</div>
</body>
</html>