<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Добавить товар</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>

    <meta name="ctx" th:content="${#httpServletRequest.getContextPath()}"/>
</head>

<html>

<body>

<div th:replace="~{navigation :: navi(AddAuto)}"/>
<div class="container">
    <form th:action="@{/auto/add}" th:object="${auto}" method="post">


        <div class="form-group">
            <label for="autoTrademark">Марка</label>
            <select type="text" name="Марка" th:field="*{trademark}" class="form-control" id="autoTrademark">
<!--                <option value="" disabled selected> Марка </option>-->
                <option th:each="trademarkEach : ${trademarkList}"
                        th:value="${trademarkEach.id_trademark}"
                        th:text="${trademarkEach.title_trademark}"
                        th:selected="${trademarkEach.equals(trademarkEach.id_trademark)}"/>
            </select>
        </div>


        <div class="form-group">
            <label for="autoModel">Модель</label>
            <select type="text" name="Марка" th:field="*{model}" class="form-control" id="autoModel">
                <!--                <option value="" disabled selected> Марка </option>-->
                <option th:each="modelEach : ${modelList}"
                        th:value="${modelEach.id_model}"
                        th:text="${modelEach.title_model}"
                        th:selected="${modelEach.equals(modelEach.id_model)}"/>
            </select>
        </div>


        <div class="form-group">
            <label for="autoTypeVagon">Тип кузова</label>
            <!--            <input th:field="*{typeVagon}" type="text" class="form-control" id="autoTypeVagon"-->
            <!--                   placeholder="Введите тип кузова">-->

            <select type="text" name="Тип кузова" th:field="*{typeVagon}" class="form-control" id="autoTypeVagon">
                <option th:each="typeVagonEach : ${typeVagonList}"
                        th:value="${typeVagonEach.id_type_vagon}"
                        th:text="${typeVagonEach.title_type_vagon}"
                        th:selected="${typeVagonEach.equals(typeVagonEach.id_type_vagon)}"/>
            </select>

        </div>
        <div class="form-group">
            <label for="autoYear_produce">Год выпуска</label>
            <input th:field="*{year_produce}" type="text" class="form-control" id="autoYear_produce"
                   placeholder="Введите год выпуска">


        </div>
        <div class="form-group">
            <label for="autoMileage">Пробег</label>
            <input th:field="*{mileage}" type="text" class="form-control" id="autoMileage" placeholder="Введите пробег">
        </div>
        <div class="form-group">
            <label for="autoEngine_capacity">Объем двигателя</label>
            <input th:field="*{engine_capacity}" type="text" class="form-control" id="autoEngine_capacity"
                   placeholder="Введите объем двигателя">
        </div>
        <div class="form-group">
            <label for="autoEngine_power">Мощность двигателя</label>
            <input th:field="*{engine_power}" type="text" class="form-control" id="autoEngine_power"
                   placeholder="Введите мощность двигателя">
        </div>
        <div class="form-group">
            <label for="autoCity">Город</label>
            <select type="text" name="Марка" th:field="*{city}" class="form-control" id="autoCity">
                <!--                <option value="" disabled selected> Марка </option>-->
                <option th:each="cityEach : ${cityList}"
                        th:value="${cityEach.id_city}"
                        th:text="${cityEach.title_city}"
                        th:selected="${cityEach .equals(cityEach.id_city)}"/>
            </select>
        </div>
        <div class="form-group">
            <label for="autoPrice">Цена</label>
            <input th:field="*{price}" type="text" class="form-control" id="autoPrice" placeholder="Цена">
        </div>
        <div class="form-group">
            <label for="autoFeatures">Описание</label>
            <input th:area="*{features}" type="text" class="form-control" id="autoFeatures"
                   placeholder="Описание">
        </div>

        <button type="submit" class="btn btn-primary">Сохранить</button>
    </form>
</div>
</body>
</html>