<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>

    <title>Index</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
</head>

<body>
<div th:replace="~{navigation :: navi(auto-info)}"/>

<div class="container">
    <br>
    <h1>Автомобили</h1>

    <table class="table table-hover">
        <thead class="thead-dark">
        <tr>
            <th>id_auto</th>
            <th>Марка</th>
            <th>Модель</th>
            <th>Тип кузова</th>
            <th>Год выпуска</th>
            <th>Пробег</th>
            <th>Объем двигателя</th>
            <th>Мощность</th>
            <th>Город</th>
            <th>Цена</th>
            <th>Дополнительная Информация</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="autoEach: ${auto}">
            <td th:text="${autoEach.id_auto}"/>
            <td th:text="${autoEach.trademark.title_trademark}"/>
            <td th:text="${autoEach.model.title_model}"/>
            <td th:text="${autoEach.typeVagon.title_type_vagon}"/>
            <td th:text="${autoEach.year_produce}"/>
            <td th:text="${autoEach.mileage}"/>
            <td th:text="${autoEach.engine_capacity}"/>
            <td th:text="${autoEach.engine_power}"/>
            <td th:text="${autoEach.city.title_city}"/>
            <td th:text="${autoEach.price}"/>
            <td th:text="${autoEach.features}"/>
            <td>
                <a th:href="@{${'/auto/' + autoEach.id_auto}}">Подробнее...</a>
                <a th:href="@{${'/auto/' + autoEach.id_auto}}">Изменить...</a>
            </td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>